* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 100%;
}
#logo-head {
    padding: 20px;
    align-self: flex-start;
    height: 10%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.login-box {
    border-radius: 25px;
    height: 80%;
    width: 80%;
    display: flex;
    box-shadow: 1px 1px 6px 3px #b1b1b1;
}
.section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#left {
    color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: url(../IMG/login-bg.jpg) no-repeat center/cover;
}
#right{
    justify-content: center;
}
#left h3 {
    color: white;
}
h1 {
    font-size: 62px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
h2 {
    color: rgba(1, 128, 207, 255);
}
#login-space,
#sub-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
#sub-div {height: 80%;}
form {width: 100%;}
input[type="email"],
input[type="password"] {
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    border-left: 3px solid rgba(1, 128, 207, 255);
    padding: 10px;
    margin: 10px 0px;
    height: 20%;
    width: 100%;
}
input:focus {
    outline: none;
}
#check {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
button {
    padding: 10px;
    width: 100%;
    background-color: rgba(1, 128, 207, 255);
    color: white;
    border-radius: 25px;
    border: none;
}
button:active {
    background-color: rgb(43, 123, 154);
}
a {
    text-decoration: none;
    color: rgba(1, 128, 207, 255);}